extends ../layout

block content
  h1 Adega Be MEAN
  p= msg

  form(action='/api/beers/#{data._id}?_method=PUT',
        method='POST')
    .form-group
      label Name:
      input.form-control(name='name', value='#{data.name}')

    .form-group
      label Category:
      input.form-control(name='category', value='#{data.category}')

    .form-group
      label Price: R$
      input.form-control(name='price', value='#{data.price}')

    .form-group
      label Alcohol:
      input.form-control(name='alcohol', value='#{data.alcohol}')

    .form-group
      label Description:
      input.form-control(name='description',value='#{data.description}')

    .form-group
      input.btn.btn-lg.btn-success(type='submit', value='Salvar')
      //- input(type='hidden',
      //-       name='_method',
      //-       value='PUT')