extends ../layout

block content
  h1 Adega Be MEAN
  a(href='/beers/create')
    input.btn.btn-lg.btn-primary(type='button', value='Adicionar Cerveja')
  br
  br
  p= msg
  ul
    for cerveja in data
      li
        a(href='/beers/#{cerveja._id}')
          | #{cerveja.name} - #{cerveja.category}